{
  "presets": [["@babel/env", {"targets": "> 0.25%, not dead"}], "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-export-namespace-from"],
    ["@babel/plugin-proposal-export-default-from"],
    ["@babel/plugin-proposal-optional-chaining"]
  ],
  "ignore": [
    "react-dom.development.js"
  ]
}
