@import "~style";

.@{prefix}-updatemessage {
  padding: 5px;
  max-height: 400px;
  overflow: auto;
  width: 520px;
  &-info {
    &-item {
      text-align: center;
      & > span + span {
        margin-left: 3px;
      }
    }
  }
  &-lease {
    &-item {

    }
  }
}
